<body class="bg-secondary">
  <form action="/answer">
    <div class="form-group border border-primary rounded-1 p-2 bg-white shadow">
      <label for="exampleInputEmail1"><strong>Enter question for the coach</strong></label>
      <input type="text" class="form-control my-2" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter question" name="question">
      <button type="submit" class="btn btn-primary mt-2">Submit</button>
    </div>
  </form>
</body>
