// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

form {
  margin: 0 auto;
  width:250px;
  padding-top: 100px;
}

.modal {
  height: 100vh;
}
